<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Puzztory</title>
    <link rel="shortcut icon" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />
    <link rel="bookmark" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />

    <!-- CSS -->
    <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" /> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- JAVASCRIPT -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style type="text/css">
        .construct-notice {
            font-size: 50px;
            text-align: center;
        }

        .side-bar-title {
            margin-top: 10px;
            font-size: 20px;
        }

        .story-list>.list-group-item {
            margin-bottom: 10px;
        }
    </style>
    <script type="text/javascript">
        var ruleCount = 0;
        var keywordCount = 0;
        const ruleLimit = 5;
        const keywordLimit = 5;

        // TODO: 纯jquery或者非jquery 现在清空使用jquery
        window.onload = function(){
            var title = document.getElementById("title");
            var ffcontent = document.getElementById("ffcontent");
            title.addEventListener("input", function (event) {
                // console.log(title.value.length)
                if (title.value.trim().length == 0) {
                    title.setCustomValidity("纯空格标题禁止");
                } else {
                    title.setCustomValidity("");
                }
            });
            ffcontent.addEventListener("input", function (event) {
                // console.log(ffcontent.value.length)
                if (ffcontent.value.trim().length == 0) {
                    ffcontent.setCustomValidity("纯空格内容禁止");
                } else {
                    ffcontent.setCustomValidity("");
                }
            });
        }

        function switchInput(id) {
            // console.log(id);
            var input = document.getElementById(id);
            input.disabled = !input.disabled;
            if (input.disabled) {
                input.value = "";
            }
        }
        $(document).ready(function () {

            // button with class removeInput will remove the input component onclick
            $('.removeInput').on('click', function () {
                $(this).parent().parent().remove();
            });
            $('#addNewRuleBTN, #addNewKeywordBTN').on('click', function () {
                if ($(this).attr('id') == 'addNewRuleBTN' && ruleCount < ruleLimit) {
                    $rule =
                        '<div class="col-md-7 mb-2 input-group"><input type="text" class="form-control" \
                        name="Rule' + ruleCount + '" id="selfDefinedRule' + ruleCount + '" placeholder="自定义规则..."><div class="input-group-append"> \
                        <button class="btn btn-outline-danger removeInput" type="button"><i class="fa fa-minus" \
                        aria-hidden="true"></i></button></div></div>';
                    ruleCount++;
                    $(this).before($rule);
                } else if ($(this).attr('id') == 'addNewKeywordBTN' && keywordCount < keywordLimit) {
                    $keyword =
                        '<div class="col-md-2 input-group"> <input type="text" class="form-control" \
                        name="Keyword' + keywordCount + '" id="selfDefinedKeyword' + keywordCount + '" placeholder="新关键词...">\
                        <div class="input-group-append"> <button class="btn btn-outline-danger removeInput" type="button">\
                        <i class="fa fa-minus" aria-hidden="true"></i></button></div> </div>';
                    keywordCount++;
                    $(this).before($keyword);
                }
                $('.removeInput').on('click', function () {
                    var containerName = $(this).parent().parent().parent().attr('id');
                    if (containerName == 'selfDefinedRules') ruleCount--;
                    else if (containerName == 'selfDefinedKeywordsContain') keywordCount--;
                    $(this).parent().parent().remove();
                });
            });
            $("#title").on('input property change', function (e) {
                $("#titleWordCount").html(e.target.value.length);
            });
            $("#ffcontent").on('input property change', function (e) {
                $("#partOneWordCount").html(e.target.value.length);
            });
            // avoid pure space input
            $("#uploadStorySubmit").on('click', function (e) {
                $("#title").val($("#title").val().trim());
                $("#ffcontent").val($("#ffcontent").val().trim());
            });
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-expand-sm bg-white navbar-light fixed-top">
        <div class="navbar-collapse collapse justify-content-between">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img title="PuzzTory首页" alt="Logo" src="http://www.puzztory.cn/static/images/PuzzWithTitle.png"
                    style="height: 50px">
            </a>
            <ul class="navbar-nav">
                <form class="form-inline" action="search#TODO">
                    <div class="input-group">
                        <input type="text" class="form-control"
                            placeholder="{% if user.is_authenticated %}welcome, {{ user.userextension.nickname }}{% else %}Please login first.{% endif %}"
                            style="width: 10cm">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" {% if user.is_authenticated %}
                        href="{% url 'upload_story_page' %}" {% else %} data-toggle="modal" data-target="#loginRequest"
                        {% endif %}><i title="发布故事" class="fas fa-plus"></i></a></li>
                <li class="nav-item"><a class="nav-link" {% if user.is_authenticated %}href="{% url 'system_message' %}"
                        {% else %} data-toggle="modal" data-target="#loginRequest" {% endif %}><i title="系统通知"
                            class="fas fa-bell"></i></a></li>
                {% if not user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login_page' %}"><i title="登录/注册"
                            class="fas fa-user"></i></a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'user_page' user.email %}"><i title="个人主页"
                            class="fas fa-user"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal"><i
                            title="退出登录" class="fas fa-sign-in-alt"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- LOGOUT WINDOW -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">通知 ('/_ ') </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    确定要退出吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">退出</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- LOGIN REQUEST -->
    {% if not user.is_authenticated %}
    <div class="modal fade" id="loginRequest" tabindex="-1" role="dialog" aria-labelledby="loginRequestLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginRequestLabel">通知 ('/_ ') </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    请先登录
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">返回</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container-fluid" style="margin-top: 70px">
        <div class="row">
            <div class="col-sm-2" style="background-color: rgb(235, 235, 235)">
                <div class="dropdown-menu-left" style="margin-bottom: 30px; margin-top: 30px;">
                    <h1 class="dropdown-header side-bar-title" style="padding: 0px;"><i class="fa fa-fire"
                            aria-hidden="true"></i> Trending</h1>
                    <a class="dropdown-item list-group disabled" href="#">
                        {% if story_list %}
                        {% for story in story_list %}
                        {% if forloop.counter > 1 %}
                        <a href="{% url 'story_page' story.id %}"
                            class="list-group-item list-group-item-action">{{ story.title }} {{story.likescount}}</a>
                        {% else %}
                        <a href="{% url 'story_page' story.id %}"
                            class="list-group-item list-group-item-warning">{{ story.title }} {{story.likescount}}</a>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <p>No storys are available.</p>
                        {% endif %}
                    </a>
                    <div class="dropdown-divider"></div>
                    <h1 class="dropdown-header side-bar-title" style="padding: 0px;"><i class="fa fa-trophy"
                            aria-hidden="true"></i> Ranking</h1>
                    <a class="dropdown-item list-group disabled" href="#">
                        {% if user_list %}
                        {% for user in user_list %}
                        {% if forloop.counter > 1 %}
                        <a href="{% url 'user_page' user.email %}"
                            class="list-group-item list-group-item-action">{{ user.nickname }} {{user.experience}}</a>
                        {% else %}
                        <a href="{% url 'user_page' user.email %}"
                            class="list-group-item list-group-item-warning">{{ user.nickname }} {{user.experience}}</a>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <p>No users are available.</p>
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-sm-10" style="background-color: rgb(248, 248, 248)">
                {% if display == 'homepage' %}
                <!-- DISPLAY HOMEPAGE -->
                <div class="list-group story-list" style="margin:30px">
                    {% if story_full_list %}
                    {% for story in story_full_list %}
                    <a href="{% url 'story_page' story.id %}"
                        class=" list-group-item list-group-item-action flex-column align-items-start">
                        <!-- d-flex : made <small> stay at the end of row -->
                        <div class="d-flex align-items-center mb-2">
                            <!-- if the story was already finished -->
                            {% if story.finished == True %}
                            <div class="badge badge-warning mr-1"><i class="fa fa-book" aria-hidden="true"></i></div>
                            <!-- if the story cannot be modified -->
                            {% elif story.lock == True %}
                            <div class="badge badge-warning mr-1"><i class="fa fa-lock" aria-hidden="true"></i></div>
                            <!-- if the story is being edited -->
                            {% elif story.modified == False %}
                            <div class="badge badge-warning mr-1"><i class="fa fa-pen-alt" aria-hidden="true"></i></div>
                            {% elif story.modified == True %}
                            <div class="badge badge-success mr-1"><i class="fa fa-pen-alt" aria-hidden="true"></i></div>
                            {% endif %}
                            <h5 class="mb-1 pr-2">{{ story.title }}</h5>
                            <!-- TODO: add if statement after storytable has attribute 'rules' -->
                            <!-- <div class="badge badge-light mr-1">R</div> -->
                            <!-- TODO: add if statement after storytable has attribute 'keywords' -->
                            <!-- <div class="badge badge-light mr-1">K</div> -->
                            {% if story.fragscountlimit != -1 or story.fragwordslimit != -1 %}
                            <div class="badge badge-light">F</div>
                            {% endif %}
                            <small class="text-muted ml-auto" id="createTime">{{ story.createtime }}</small>
                        </div>
                        <div class="row d-flex">
                            <div class="col-10">
                                <p class="mb-1" id="firstPartText" style="white-space: pre-line">
                                    {{ story.ffcontent }}
                                </p>
                            </div>
                            <div class="col-2">
                                <div class="row justify-content-end mb-2 pr-2">
                                    <button type="button" class="btn btn-light btn-sm" disabled>
                                        <i class="fa fa-comment" aria-hidden="true"></i>
                                        <span id="commentNum">{{ story.commentscount }}</span>
                                    </button>
                                </div>
                                <div class="row justify-content-end mb-2 pr-2">
                                    <button type="button" class="btn btn-light btn-sm" disabled>
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        <span id="likesNum">{{ story.likescount }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-end pr-2">
                            <div class="col-10">
                                <small class="text-muted">Published by </small>
                                <span><small class="text-muted" id="author">{{ story.nickname }}</small></span>
                            </div>
                            <div class="col-2">
                                <div class="row justify-content-end">
                                    <button type="button" class="btn btn-info" disabled>
                                        <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                                        <span id="storyFragCount">{{ story.fragscount }}</span>
                                        {% if story.fragscountlimit == -1 %}
                                        <span id="storyFragTotalInf">/ INF</span>
                                        {% else %}
                                        <span id="storyFragTotal">/ {{ story.fragscountlimit }}</span>
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% else %}
                    <p>No stories available.</p>
                    <!-- this template can be display without Django's rendering -->
                    <a href="#" class=" list-group-item list-group-item-action flex-column align-items-start">
                        <!-- d-flex : made <small> stay at the end of row -->
                        <div class="d-flex align-items-center mb-2">
                            <div class="badge badge-warning mr-1"><i class="fa fa-clock" aria-hidden="true"></i></div>
                            <div class="badge badge-warning mr-1"><i class="fa fa-lock" aria-hidden="true"></i></div>
                            <div class="badge badge-warning mr-1"><i class="fa fa-pen-alt" aria-hidden="true"></i></div>
                            <h5 class="mb-1 pr-2">STATIC TEMPLATE</h5>
                            <div class="badge badge-light mr-1">R</div>
                            <div class="badge badge-light mr-1">K</div>
                            <div class="badge badge-light mr-auto">F</div>
                            <small class="text-muted" id="createTimeStatic">2019/5/14 20:35</small>
                        </div>
                        <div class="row d-flex">
                            <div class="col-10">
                                <p class="mb-1" id="firstPartTextStatic">
                                    YOU SHOULDN'T BE WATCHING THIS.
                                </p>
                            </div>
                            <div class="col-2">
                                <div class="row justify-content-end mb-2 pr-2">
                                    <button type="button" class="btn btn-light btn-sm" disabled>
                                        <i class="fa fa-comment" aria-hidden="true"></i>
                                        <span id="commentNumStatic">10</span>
                                    </button>
                                </div>
                                <div class="row justify-content-end mb-2 pr-2">
                                    <button type="button" class="btn btn-light btn-sm" disabled>
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        <span id="likesNumStatic">5</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-end pr-2">
                            <div class="col-10">
                                <small class="text-muted">Published by </small>
                                <span><small class="text-muted" id="authorStatic">KaLuLas</small></span>
                            </div>
                            <div class="col-2">
                                <div class="row justify-content-end">
                                    <button type="button" class="btn btn-info" disabled>
                                        <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                                        <span id="storyFragCountStatic">5</span>
                                        <span id="storyFragTotalStatic">/ INF</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                </div>
                {% elif display == 'upload_story' %}
                <!-- DISPLAY UPLOAD STORY PAGE -->
                <form id="uploadStoryForm" style="margin:30px" action="{% url 'upload_story' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row mb-3 align-items-end">
                        <div class="col-md-7">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"
                                        id="StoryTitlePrepend">#</span></div>
                                <input type="text" class="form-control" id="title" placeholder="故事标题"
                                    aria-describedby="StoryTitlePrepend" maxlength="30" name="title" required>
                            </div>
                        </div>
                        <span id="titleWordCount">0</span><span id="titleWordLimit">/30</span>
                    </div>
                    <div class="form-row mb-3 align-items-end">
                        <div class="col-md-10">
                            <textarea type="text" class="form-control" id="ffcontent" rows="10"
                                placeholder="在此输入故事的第一节..." maxlength="500" name="ffcontent" required></textarea>
                        </div>
                        <span id="partOneWordCount">0</span><span id="partOneWordLimit">/500</span>
                    </div>
                    <!-- self defined rules & keywords -->
                    <small id="addNewRuleHelp" class="form-text text-muted">设置续写片段必须遵守的规则（软规则）</small>
                    <div class="form-row align-items-center" id="selfDefinedRules">
                        <!-- button removeInput will remove the whole input-group -->
                        <!-- TEMPLATE -->
                        <!-- <div class="col-md-7 mb-3 input-group">
                            <input type="text" class="form-control" name="Rule0" id="selfDefinedRule0">
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger removeInput" type="button"><i class="fa fa-minus"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div> -->
                        <!-- set new rules here -->
                        <div class="btn mb-2 btn-outline-primary" id="addNewRuleBTN"><i class="fa fa-plus"
                                aria-hidden="true"></i></div>
                    </div>
                    <small id="addNewKeywordHelp" class="form-text text-muted">设置故事片段必须包含的关键词</small>
                    <div class="form-row mb-3 align-items-center" id="selfDefinedKeywordsContain">
                        <!-- button removeInput will remove the whole input-group -->
                        <!-- TEMPLATE -->
                        <!-- <div class="col-md-2 input-group">
                            <input type="text" class="form-control" name="Keyword0" id="selfDefinedKeyword0"
                                placeholder="新关键词...">
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger removeInput" type="button"><i class="fa fa-minus"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div> -->
                        <!-- add new keywords here -->
                        <div class="btn btn-outline-primary" id="addNewKeywordBTN"><i class="fa fa-plus"
                                aria-hidden="true"></i></div>
                    </div>


                    <!-- decide frag count & words limit -->
                    <small id="addRestrictHelp" class="form-text text-muted">设置片段的字数限制和个数限制</small>
                    <div class="form-row mb-3  align-items-center">
                        <div class="input-group col-md-2">
                            <input type="number" class="form-control" disabled="disabled" name="fragsCountLimit"
                                id="fragCountSetInput" required min="1">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <input type="checkbox" id="fragCountSet" onclick="switchInput('fragCountSetInput')">
                                    <label class="form-check-label" for="fragCountSet">
                                        片段个数
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="input-group col-md-2">
                            <input type="number" class="form-control" disabled="disabled" name="fragWordsLimit"
                                id="fragWordSetInput" required min="10">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <input type="checkbox" id="fragWordSet" onclick="switchInput('fragWordSetInput')">
                                    <label class="form-check-label" for="fragWordSet">
                                        片段字数
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-3 align-items-center">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="branchCheck" name="branch">
                            <label class="custom-control-label" for="branchCheck" style="margin-right: 20px">
                                允许分支
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="modifiedCheck" checked="checked"
                                name="modified">
                            <label class="custom-control-label" for="modifiedCheck" style="margin-right: 20px">
                                允许修改
                            </label>
                        </div>
                        <button class="btn btn-outline-primary" type="submit" name="submit"
                            id="uploadStorySubmit">提交故事</button>
                    </div>
                </form>


                {% elif display == 'system_message' %}
                <!-- DISPLAY SYSTEM MESSAGE PAGE -->
                <h5 style="margin:30px">system_message施工中</h5>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>