<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="shortcut icon" href="./static/images/favicon-mainpage.ico" />
    <link rel="bookmark" href="./static/images/favicon-mainpage.ico" />

    <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" /> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

    <!-- <script type="text/javascript" src="./static/js/less.js"></script> -->

</head>

<body>
    <script type="text/javascript">
        function userRegister() {
            var email_alert = document.getElementById('emailExistedAlert');
            var username_alert = document.getElementById('usernameOversizedAlert');
            var password_alert = document.getElementById('passwordOversizedAlert');
            var passwordCheck_alert = document.getElementById('passwordCheckAlert');
            var legal = true;
            //email can not be null
            if(document.getElementById('email').value.length < 1){
                email_alert.innerHTML = "用户邮箱不能为空";
                legal = false;
            }else{
                email_alert.innerHTML = "";
            }

            // nickname sanity check
            if (document.getElementById('username').value.length > 20) {
                username_alert.innerHTML = "昵称长度限制(<=20)";
                legal = false;
            }else if(document.getElementById('username').value.length < 1){
                legal = false;
                username_alert.innerHTML = "昵称不能为空";
            }
            else {
                username_alert.innerHTML = "";
            }
            // password length check
            if (document.getElementById('password').value.length > 20) {
                password_alert.innerHTML = "密码长度限制(<=20)";
                legal = false;
            }else if(document.getElementById('password').value.length < 1){
                legal = false;
                password_alert.innerHTML = "密码不能为空";
            }
            else {
                password_alert.innerHTML = "";
            }
            // password double check
            if (document.getElementById('passwordCheck').value != document.getElementById('password').value) {
                passwordCheck_alert.innerHTML = "与初始密码不同";
                legal = false;
            } else {
                passwordCheck_alert.innerHTML = "";
            }

            if(legal){
            var form = document.getElementById('userWindow');
            form.action = "userregister";
            form.submit();
            }
        }
    </script>

    <style type="text/css">
        .alerttext {
            text-align: left;
            margin-top: 35px;
            font-size: 16px;
            color: brown;
        }
    </style>

    <form id="userWindow" action="" method="POST">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="input-group" style="margin-top: 30px">
                        <span class="input-group-addon" id="basic-addon1">用户邮箱</span>
                        <input id="email" type="text" name="e" class="form-control" placeholder="Email"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="alerttext" id="emailExistedAlert">
                        {{ emailExistedAlert }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="input-group" style="margin-top: 30px">
                        <span class="input-group-addon" id="basic-addon2">用户昵称</span>
                        <input id="username" type="text" name="u" class="form-control" placeholder="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="alerttext" id="usernameOversizedAlert">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="input-group" style="margin-top: 30px">
                        <span class="input-group-addon" id="basic-addon3">设定密码</span>
                        <input id="password" type="password" name="p" class="form-control" placeholder="Password"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="alerttext" id="passwordOversizedAlert">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="input-group" style="margin-top: 30px">
                        <span class="input-group-addon" id="basic-addon4">确认密码</span>
                        <input id="passwordCheck" type="password" name="p" class="form-control" placeholder="Password"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div id="passwordCheckAlert" class="alerttext">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div style="margin-top: 30px; text-align: right">
                        <div class="btn-group">
                            <a type="button" class="btn btn-default" href="./login.html">回到登录</a>
                            <button id="register_btn" type="button" class="btn btn-default"
                                onclick="userRegister()">注册</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>