<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Puzztory</title>
    <link rel="shortcut icon" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />
    <link rel="bookmark" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />

    <!-- CSS -->
    <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" /> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->

    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <style type="text/css">
        .construct-notice {
            font-size: 50px;
            text-align: center;
        }

        .side-bar-title {
            margin-top: 10px;
            font-size: 20px;
        }

        .story-list>.list-group-item {
            margin-bottom: 10px;
        }

        .frag_comment_list .list-group-item{
            margin-bottom: 10px;
            background-color:#FFF0DB;
            color: #B38952;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0px;
            height: 30px;
        }

    </style>
    <script type="text/javascript">
        function uploadfrag() {
            var text = document.getElementById('newfrag');
            var varstr = text.value.trim();

            console.log(1);
            if (varstr.length <= 0) {
                console.log("wrong");
                var info = document.getElementById('blankinput');
                info.innerHTML = "禁止输入全为空格的片段";

            } else {
                var form = document.getElementById('uploadfrag');
                form.action = "{% url 'register' %}";
                form.submit();
            }

        }

        $(document).ready(function () {
            $("#newfrag").on('input property change', function (e) {
                $("#fragWordCount").html(e.target.value.length);
            });
            // Kal: jqeury for tooltip
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
        });
    </script>
</head>

<body style="background-color: rgb(248, 248, 248)">
    <nav class="navbar navbar-toggleable-md navbar-expand-sm bg-white navbar-light fixed-top">
        <div class="navbar-collapse collapse justify-content-between">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img title="PuzzTory首页" alt="Logo" src="http://www.puzztory.cn/static/images/PuzzWithTitle.png"
                    style="height: 50px">
            </a>
            <ul class="navbar-nav">
                <form class="form-inline" action="search#TODO">
                    <div class="input-group">
                        <input type="text" class="form-control"
                            placeholder="{% if user.is_authenticated %}welcome, {{ user.userextension.nickname }}{% else %}Please login first.{% endif %}"
                            style="width: 10cm">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" {% if user.is_authenticated %}
                        href="{% url 'upload_story_page' %}" {% else %} data-toggle="modal" data-target="#loginRequest"
                        {% endif %}><i title="发布故事" class="fas fa-plus"></i></a></li>
                <li class="nav-item"><a class="nav-link" {% if user.is_authenticated %}href="{% url 'system_message' %}"
                        {% else %} data-toggle="modal" data-target="#loginRequest" {% endif %}><i title="系统通知"
                            class="fas fa-bell"></i></a></li>
                {% if not user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login_page' %}"><i title="登录/注册"
                            class="fas fa-user"></i></a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'user_page' user.userextension.nickname %}"><i
                            title="个人主页" class="fas fa-user"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal"><i
                            title="退出登录" class="fas fa-sign-in-alt"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- LOGOUT WINDOW -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">通知 ('/_ ') </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    确定要退出吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">退出</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- LOGIN REQUEST -->
    {% if not user.is_authenticated %}
    <div class="modal fade" id="loginRequest" tabindex="-1" role="dialog" aria-labelledby="loginRequestLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginRequestLabel">通知 ('/_ ') </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    请先登录
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">返回</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="container-fluid " style="background-color: #f8f8f8">
        <div class="row justify-content-center" style="padding-top:50px; margin:20px;">
            <div class="col-sm-8" style="padding-left:0px">
                <div class="card" id="firstfrag"
                    style="background-color:rgb(246, 255, 238); padding:20px; margin-top:10px">
                    <div class="row" style="padding-left: 10px; padding-right: 10px; padding-top:7px">
                        <div class="col-md-auto align-self-center" style="padding-left: 5px">

                            <!-- if the story is finished -->
                            <i class="fa fa-book" style="font-size: 17px" aria-hidden="true" title="finished"></i>

                            <!-- if the story cannot be modified -->
                            <i class="fa fa-lock" style="font-size: 17px" aria-hidden="true"
                                title="cannot be modified"></i>

                            <!-- if the story is being edited -->
                            <i class="fa fa-pen-alt" style="font-size: 17px" aria-hidden="true"
                                title="being edited"></i>

                            <!-- if the story can be modified -->
                            <i class="fas fa-unlock-alt" style="font-size: 17px" aria-hidden="true"
                                title="you can write now"></i>

                        </div>

                        <div class="align-self-center">
                            <h4 style="margin-bottom: 0px; padding-left: 0px">Test-title</h4>
                        </div>

                        <div class="col-md-auto ml-auto align-self-center">
                            <div class="badge" style="font-size: 17px; color: rgb(153, 163, 146)">R</div>
                            <div class="badge" style="font-size: 17px; color: rgb(153, 163, 146)">K</div>
                            <div class="badge" style="font-size: 17px; color: rgb(153, 163, 146)">F</div>

                            <!-- TODO: add if statement after storytable has attribute 'rules' -->
                            <!-- <div class="badge badge-light mr-1">R</div> -->
                            <!-- TODO: add if statement after storytable has attribute 'keywords' -->
                            <!-- <div class="badge badge-light mr-1">K</div> -->

                            <!-- {% if story.fragscountlimit != -1 or story.fragwordslimit != -1 %}
                        <div class="badge badge-light">F</div>
                        {% endif %} -->
                        </div>
                    </div>

                    <div class="row">
                        <p style="margin: 15px; white-space: pre-line">axoewcb wox ac [ahief achio 23xhico aq23c0[
                            qaxh]]uab2ecbay9bxpea9bcreabx

                            cbawueacxby739cbay8w9x y8a9xc ya89x fqya89 xu ahu
                            abcheubpcrya7932c py4a793c y4a92 cy849axp y8ra9 cy9p
                            shuacbrecbahocblhafic dhsiaoc dsiace fya8w9
                            a cewuo awecioshosd;oshids;cdnjdkuiosadisnjdfsdfldksj csaxopa zuwwzo e8w
                        </p>
                    </div>


                    <div class="progress" style="margin-top: 20px; margin-bottom: 10px">
                        <div class="progress-bar" role="progressbar" style="background-color:cadetblue; width: 25%"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            25/100</div>
                    </div>


                    <div class="row" style="margin-bottom: 7px">
                        <div class="col-md-auto align-self-center">
                            <i class="far fa-user" style="font-size: 12px"> Alexxx </i>
                        </div>
                        <div class="col-md-auto align-self-center">
                            <i class="far fa-clock" style="font-size: 12px"> 2019/7/7</i>
                        </div>

                        <div class="col-md-auto ml-auto align-self-center">
                            <a class="far fa-heart" style="font-size: 12px; margin-right:10px"> 23</a>
                            <i class="far fa-comment" style="font-size: 12px"> 19</i>
                        </div>
                    </div>
                    <div>
                        <span><small class="text-muted">keyword1 </small></span>
                        <span><small class="text-muted">keyword2 </small></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="margin:20px;">
            <ul class="list-group col-sm-8">
                <div class="list-group-item"
                    style="background-color: rgb(248, 248, 248); margin-bottom:20px; padding:0px">
                    <div class="card" style="border:0px; background-color: rgb(255, 251, 234)">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-puzzle-piece"></i></h5>
                            <p class="card-text" style="white-space: pre-wrap; padding-top: 15px">This is a wider card
                                with supporting text
                                below as a natural lead-in to
                                additional content.
                                This content is a little bit longer.
                                lalalalal
                                lalal
                            </p>
                            <div class="row" style="margin-bottom: 7px; margin-top: 20px">
                                <div class="col-md-auto align-self-center">
                                    <i class="far fa-user" style="font-size: 12px"> Alexxx </i>
                                </div>
                                <div class="col-md-auto align-self-center">
                                    <i class="far fa-clock" style="font-size: 12px"> 2019/7/7</i>
                                </div>

                                <div class="col-md-auto ml-auto align-self-center">
                                    <a href="#" class="fas fa-hammer"
                                        style="font-size: 12px; margin-right:10px; color:rgb(48, 48, 48); text-decoration: none"
                                        title="敲除"></a>
                                    <i class="far fa-heart" style="font-size: 12px; margin-right:10px"> 23</i>
                                    <i class="far fa-comment" style="font-size: 12px" data-toggle="collapse"
                                        href="#frag_comment"> 19</i>
                                </div>
                            </div>
                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                        <div class="row justify-content-center" style="background-color:rgb(255, 207, 144); margin: 0px; padding-top: 15px">
                            <div class="col-sm-10">
                                <div class="collapse" id="frag_comment">
                                    <form id="fragCommentForm">
                                        <div class="input-group input-group-sm mb-3">
                                            <input type="text" class="form-control" placeholder="在此输入你的评论...（小于150字，不支持换行）">
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-light" type="button"><i class="fa fa-plane" aria-hidden="true">发送</i></button>
                                            </div>
                                        </div>
                                    </form>
                                    <ul class="list-group frag_comment_list">
                                        <li class="d-flex list-group-item justify-content-between" style="color:#B38952">
                                            <p>
                                                <em>edwardchen</em>
                                                <small style="margin-left: 10px; color:#E8A676">随便打点评论试试</small>
                                            </p>
                                            <small>createtime</small>
                                        </li>
                                        <li class="list-group-item">Item</li>
                                        <li class="list-group-item">Disabled item</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item"
                    style="background-color: rgb(248, 248, 248); margin-bottom:20px; padding:0px">
                    <div class="card" style="border:0px; background-color: rgb(255, 251, 234)">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-puzzle-piece"></i></h5>
                            <p class="card-text" style="white-space: pre-line">This is a wider card with supporting text
                                below as a natural lead-in to
                                additional content.
                                This content is a little bit longer.
                                lalala
                                lalala
                            </p>
                            <div class="row" style="margin-bottom: 7px; margin-top: 20px">
                                <div class="col-md-auto align-self-center">
                                    <i class="far fa-user" style="font-size: 12px"> Alexxx </i>
                                </div>
                                <div class="col-md-auto align-self-center">
                                    <i class="far fa-clock" style="font-size: 12px"> 2019/7/7</i>
                                </div>

                                <div class="col-md-auto ml-auto align-self-center">
                                    <a href="#" class="fas fa-hammer"
                                        style="font-size: 12px; margin-right:10px; color:rgb(48, 48, 48); text-decoration: none"
                                        title="敲除"></a>
                                    <i class="far fa-heart" style="font-size: 12px; margin-right:10px"> 23</i>
                                    <i class="far fa-comment" style="font-size: 12px"> 19</i>
                                </div>
                            </div>

                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <div class="row justify-content-center" style="padding-bottom:100px;">
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addfrag"><i
                    class="fas fa-feather-alt"> 添加一个新片段 </i></button>
            <button type="button" class="btn btn-outline-info disabled" data-toggle="tooltip" data-placement="top"
                title="cannot add fragment right now">
                <i class="fas fa-feather-alt"> 添加一个新片段 </i></button>

            <div class="modal fade" id="addfrag" tabindex="-1" role="dialog" aria-labelledby="addfragLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">你的脑洞 ('/_ ') </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="height: 400px">

                            <form id="uploadfrag" action="" method="POST">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <textarea id="newfrag" class="form-control" placeholder="在此输入你想新增的片段"
                                        style="height: 300px" maxlength="500" name="fcontent"></textarea>
                                </div>
                                <span class="row text-muted" style="margin-right: 10px; margin-left: 5px">
                                    <!-- <span id="fragWordCount">0</span><span id="fragWordLimit">/500</span> -->
                                    <small id="blankinput" style="color:brown">禁止输入全为空格的片段</small>
                                    <small class="ml-auto" id="fragWordCount">0</small><small
                                        id="fragWordLimit">/500</small>
                                </span>
                                <div class="form-row justify-content-end" style="margin-top: 10px">
                                    <button type="button" class="btn btn-secondary" style="margin-right:5px"
                                        data-dismiss="modal">取消</button>
                                    <button onclick="uploadfrag()" class="btn btn-primary"
                                        style="margin-right:5px">提交片段</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>