<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Puzztory</title>
    <link rel="shortcut icon" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />
    <link rel="bookmark" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />

    <!-- CSS -->
    <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" /> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="http://www.bootcss.com/p/buttons/css/buttons.css">

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script> -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <style type="text/css">
        .construct-notice {
            font-size: 50px;
            text-align: center;
        }

        .side-bar-title {
            margin-top: 10px;
            font-size: 20px;
        }

        .story-list>.list-group-item {
            margin-bottom: 10px;
        }

        .shadow {
            box-shadow:inset -3px -3px 2px #050533;
            height: 39px;
            line-height: 33px;
        }
        .shadow:active {
            line-height: 39px;
            box-shadow:inset 1px 1px 2px #050533;
            color:white;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            // 点击小火箭滚动到故事页的最上方，因为被导航条盖住了所以多滚一点
            $('#jumpTopBtn').click(function(){
                $('html, body').animate({
                    scrollTop: $("#firstCard").offset().top - 100
                }, 500);
            });

            // scroll_to_frag_id == -1 代表不需要片段滚动
            // 否则scroll_to_frag_id代表滚动到的片段id号
            {% if scroll_to_frag_id != -1 %}
            $('html, body').animate({
                    scrollTop: $("#{{scroll_to_frag_id}}").offset().top
                }, 500);
            {% endif %}

            $("#newfrag").on('input property change', function (e) {
                $("#fragWordCount").html(e.target.value.length);
                var text = this.value.trim();
                this.setCustomValidity(text.length == 0 ? "纯空格禁止" : "");
            });
            // Kal: jqeury for tooltip
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            // $("#likescount").on('click', function(){
            //     $.ajax({
            //         url: "/likescount"
            //     });
            // });

            {% if story.modified == True %}
            var timer = {};
            $("#newFragBtn").click(function () {
                // send lock message
                $('#newFragSubmitBtn').show();
                
                $.ajax({
                    url: "/lock",
                    async: false,
                    data: {'story_id': {{story.id}}},
                    dataType: "JSON",
                    success: function (data) {
                        if (!data['lock']) {
                            $('#newFragBtn').attr('data-target', '#addfrag');
                            $('#lfcontent').html('现在的尾巴: '+data['lfcontent']);
                            // send release lock message
                            $('#submitcountdown').html(data['submitcountdown']);
                            $('#submittimelimit').html(data['submittimelimit']);
                            
                            for(var each in timer){
                                clearInterval(timer[each]);
                                delete timer[each];
                            }
                            var remains = data['submitcountdown'];
                            timer[remains] = setInterval(function(){ 
                                if(remains == 0){
                                    clearInterval(timer[remains]);
                                    $('#newFragSubmitBtn').hide();
                                }
                                else{
                                    remains--;
                                    $('#submitcountdown').html(remains);
                                }                                
                            }, 1000);
                        }
                        else {
                            $('#newFragBtn').attr('data-target', '#lockmessage');
                        }
                    }
                });
            });
            {% else %}
            $("#newFragBtn").click(function () {
                $.ajax({
                    url: "/lfcontent",
                    data: {'story_id': {{story.id}}},
                    dataType: "JSON",
                    success: function (data) {
                        $('#lfcontent').html('现在的尾巴: '+data['lfcontent']);
                        $('#separate').hide();                        
                    }
                });               
            });
            {% endif %}
            // 显示被锁消息后刷新页面
            $('#lockmessage').on('hidden.bs.modal', function (e) {
                window.location.reload();
            });
        });
    </script>
</head>

<body style="background-color: rgb(248, 248, 248)">
    <nav class="navbar navbar-toggleable-md navbar-expand-sm bg-white navbar-light fixed-top">
        <div class="navbar-collapse collapse justify-content-between">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img title="PuzzTory首页" alt="Logo" src="http://www.puzztory.cn/static/images/PuzzWithTitle.png"
                    style="height: 50px">
            </a>
            <ul class="navbar-nav">
                <form class="form-inline" action="search#TODO">
                    <div class="input-group">
                        <input type="text" class="form-control"
                            placeholder="{% if user.is_authenticated %}welcome, {{ user.userextension.nickname }}{% else %}Please login first.{% endif %}"
                            style="width: 10cm">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" {% if user.is_authenticated %}
                        href="{% url 'upload_story_page' %}" {% else %} data-toggle="modal" data-target="#loginRequest"
                        {% endif %}><i title="发布故事" class="fas fa-plus"></i></a></li>
                <li class="nav-item"><a class="nav-link" {% if user.is_authenticated %}href="{% url 'system_message' %}"
                        {% else %} data-toggle="modal" data-target="#loginRequest" {% endif %}><i title="系统通知"
                            class="fas fa-bell"></i></a></li>
                {% if not user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login_page' %}"><i title="登录/注册"
                            class="fas fa-user"></i></a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'user_page' user.userextension.nickname %}"><i
                            title="个人主页" class="fas fa-user"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#logoutWindow"><i
                            title="退出登录" class="fas fa-sign-in-alt"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- LOGOUT WINDOW -->
    <div class="modal fade" id="logoutWindow" tabindex="-1" role="dialog" aria-labelledby="logoutMessage"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutMessage">通知 ('/_ ') </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    确定要退出吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">退出</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- LOGIN REQUEST -->
    {% if not user.is_authenticated %}
    <div class="modal fade" id="loginRequest" tabindex="-1" role="dialog" aria-labelledby="loginRequestLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginRequestLabel">通知 ('/_ ') </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    请先登录
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">返回</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="container-fluid " style="background-color: rgb(248, 248, 248)">
        <div class="row justify-content-center" style="padding-top:70px">
            <div class="col-1"></div>
            <div class="card" id="firstCard" style="background-color:rgb(246, 255, 238); padding:20px; width:800px; margin-top:30px">

                <div class="row" style="padding-left: 10px; padding-right: 10px; padding-top:7px">
                    <div class="col-md-auto align-self-center" style="padding-left: 5px">
                        {% if story.finished == True %}
                        <i class="fa fa-book" style="font-size: 17px" aria-hidden="true" title="finished"></i>
                        <!-- if the story can be modified -->
                        {% elif story.modified == False %}
                        <i class="fa fa-lock" style="font-size: 17px" aria-hidden="true" title="this story can only be modified by initiator"></i>
                        <!-- if the story is being edited -->
                        {% elif story.lock == True %}
                        <i class="fa fa-pen-alt" style="font-size: 17px" aria-hidden="true" title="being edited"></i>
                        {% else %}
                        <i class="fa fa-unlock-alt" style="font-size: 17px" aria-hidden="true"
                            title="you can write now"></i>
                        {% endif %}
                    </div>
                    <div class="align-self-center">
                        <h4 style="margin-bottom: 0px; padding-left: 0px">{{ story.title }}</h4>
                    </div>
                    <div class="col-md-auto ml-auto align-self-center">
                        <div class="badge" style="font-size: 17px; color: rgb(153, 163, 146)">R</div>
                        <div class="badge" style="font-size: 17px; color: rgb(153, 163, 146)">K</div>


                        <!-- TODO: add if statement after storytable has attribute 'rules' -->
                        <!-- <div class="badge badge-light mr-1">R</div> -->
                        <!-- TODO: add if statement after storytable has attribute 'keywords' -->
                        <!-- <div class="badge badge-light mr-1">K</div> -->

                        {% if story.fragscountlimit != -1 or story.fragwordslimit != -1 %}
                        <div class="badge" style="font-size: 17px; color: rgb(153, 163, 146)">F</div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <p style="margin: 15px; white-space: pre-line">{{ story.ffcontent }}
                    </p>
                </div>

                {% if story.fragscountlimit != -1 %}
                <div class="progress" style="margin-top: 20px; margin-bottom: 10px">
                    <div class="progress-bar" role="progressbar"
                        style="background-color:cadetblue; width: {% widthratio story.fragscount story.fragscountlimit 100 %}%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        {{ story.fragscount }}/{{ story.fragscountlimit }}</div>
                </div>
                {% endif %}

                <div class="row" style="margin-bottom: 7px">
                    <div class="col-md-auto align-self-center">
                        <i class="far fa-user" style="font-size: 12px"> {{ story.nickname }} </i>
                    </div>
                    <div class="col-md-auto align-self-center">
                        <i class="far fa-clock" style="font-size: 12px"> {{ story.createtime }} </i>
                    </div>

                    <div class="col-md-auto ml-auto align-self-center">
                        <i class="far fa-heart" style="font-size: 12px; margin-right:10px"> {{ story.likescount }}</i>
                        <i class="far fa-comment" style="font-size: 12px"> {{ story.commentscount }} </i>
                    </div>
                </div>
                <div>
                    <span><small class="text-muted">keyword1 </small></span>
                    <span><small class="text-muted">keyword2 </small></span>
                </div>
            </div>
            <div class="col-1">
                {% if user.email == story.email %}
                {% if story.lock == True %}
                <button id="modifiedset" class="button button-box button-highlight disabled"
                style="margin-top:40px; margin-left:20px"><i class="fas fa-user-shield"></i></button>
                {% elif story.modified == True %}
                <button id="modifiedset" class="button button-box button-action shadow"
                style="margin-top:40px; margin-left:20px"><i class="fas fa-user-shield"></i></button>
                {% else %}
                <button id="modifiedset" class="button button-box button-highlight shadow"
                style="margin-top:40px; margin-left:20px"><i class="fas fa-user-shield"></i></button>
                {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center" style="margin:20px;">
            <ul class="list-group">
                {% if page_obj.object_list %}
                {% for frag in page_obj.object_list %}
                {% if frag.id != story.ffid %}
                <div class="list-group-item" id="{{ frag.id }}"
                    style="background-color: rgb(248, 248, 248); margin-bottom:20px; padding:0px; width:800px">
                    <div class="card" style="border:0px; background-color: rgb(255, 251, 234)">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-puzzle-piece"></i></h5>
                            <p class="card-text" style="white-space: pre-line">{{ frag.content }}
                            </p>
                            <div class="row" style="margin-bottom: 7px; margin-top: 20px">
                                <div class="col-md-auto align-self-center">
                                    <i class="far fa-user" style="font-size: 12px"> {{ frag.nickname }} </i>
                                </div>
                                <div class="col-md-auto align-self-center">
                                    <i class="far fa-clock" style="font-size: 12px"> {{ frag.createtime }}</i>
                                </div>

                                <div class="col-md-auto ml-auto align-self-center">
                                    {% if story.modified == True or user.email == story.email %}
                                    <a href="{% url 'deletefrag' frag.id story.id page_obj.number %}" class="fas fa-hammer"
                                    style="font-size: 12px; margin-right:10px; color:rgb(48, 48, 48); text-decoration: none"
                                    title="敲除"></a>
                                    {% endif %}
                                    <i id="likescount" fragid="{{ frag.id }}" storyid="{{ story.id }}" type="number" class="far fa-heart" style="font-size: 12px; margin-right:10px">
                                        {{ frag.likescount }}</i>
                                    <i class="far fa-comment" style="font-size: 12px"> {{ frag.commentscount }}</i>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}

            </ul>
        </div>

        <div class="row justify-content-center" style="padding-bottom:90px;">
            {% if not user.is_authenticated %}
            <button type="button" class="btn btn-outline-info disabled" data-toggle="modal"
                data-target="#loginRequest"><i class="fas fa-feather-alt"> 添加一个新片段 </i></button>
            {% elif story.lock == True and story.editor != user.email %}
            <button type="button" class="btn btn-outline-info disabled" data-toggle="tooltip" data-placement="top"
                title="有人正在修改这个故事"><i class="fas fa-feather-alt"> 添加一个新片段 </i></button>
            {% elif story.modified == False and user.email != story.email %}
            <button type="button" class="btn btn-outline-info disabled" data-toggle="tooltip" data-placement="top"
                title="作者禁止了对这个故事的修改"><i class="fas fa-feather-alt"> 添加一个新片段 </i></button>
            {% elif story.finished == True %}
            <button type="button" class="btn btn-outline-info disabled" data-toggle="tooltip" data-placement="top"
                title="完结撒花"><i class="fas fa-feather-alt"> 添加一个新片段 </i></button>
            {% elif story.fragscount == story.fragscountlimit %}
            <button type="button" class="btn btn-outline-info disabled" data-toggle="tooltip" data-placement="top"
                title="这个故事已经塞不下了"><i class="fas fa-feather-alt"> 添加一个新片段 </i></button>
            {% else %}
            <button type="button" id="newFragBtn" class="btn btn-outline-info" data-toggle="modal"
                data-target="#addfrag"><i class="fas fa-feather-alt"> 添加一个新片段 </i></button>
            {% endif %}
            <button id="jumpTopBtn" class="btn btn-outline-success" style="margin-left: 20px"><i class="fa fa-rocket" aria-hidden="true"></i></button>
            <div class="modal fade" id="lockmessage" tabindex="-1" role="dialog" aria-labelledby="lockmessageLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="loginRequestLabel">通知 ('/_ ') </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            该故事已被上锁('皿')
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">返回</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addfrag" tabindex="-1" role="dialog" aria-labelledby="addfragLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="border:0px; padding-bottom: 0px">
                            <h5 class="modal-title" id="uploadFragWindow">你的脑洞 ('/_ ') </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="height: 400px">

                            <form action="{% url 'upload_frag' story.id %}" method="POST">
                                {% csrf_token %}
                                <p id="lfcontent"></p>
                                <div class="form-group" style="margin-bottom: 0px">
                                    <textarea id="newfrag" class="form-control" placeholder="在此输入你想新增的片段内容"
                                        style="height: 265px"
                                        maxlength="{% if story.fragwordslimit != -1 %}{{ story.fragwordslimit }}{% else %}500{% endif %}"
                                        name="fcontent" required></textarea>
                                </div>
                                <span class="row text-muted" style="margin-right: 10px; margin-left: 5px">
                                    <small type="number" id="submitcountdown" style="color:brown"></small><small id="separate" style="color:brown">/</small><small
                                        id="submittimelimit" style="color:brown"></small>
                                    <small class="ml-auto" id="fragWordCount">0</small><small
                                        id="fragWordLimit">/{% if story.fragwordslimit != -1 %}{{ story.fragwordslimit }}{% else %}500{% endif %}</small>
                                </span>
                                <div class="form-row justify-content-end" style="margin-top: 10px">
                                    <button type="button" class="btn btn-secondary" style="margin-right:5px"
                                        data-dismiss="modal">取消</button>
                                    <button id="newFragSubmitBtn" type="submit" class="btn btn-primary" style="margin-right:5px">提交片段</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <div class="row justify-content-center" style="padding-bottom:30px;">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"><i
                                class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link">{{i}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"
                                aria-hidden="true"></i></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>


</body>

</html>