<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>系统通知 - Puzztory</title>
    <link rel="shortcut icon" href="https://www.puzztory.cn/static/images/favicon-mainpage.ico" />
    <link rel="bookmark" href="https://www.puzztory.cn/static/images/favicon-mainpage.ico" />

    <!-- CSS -->
    <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" /> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.bootcss.com/p/buttons/css/buttons.css">

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style type="text/css">
        .construct-notice {
            font-size: 50px;
            text-align: center;
        }

        .side-bar-title {
            margin-top: 10px;
            font-size: 20px;
        }

        .story-list>.list-group-item {
            margin-bottom: 10px;
        }

        /* 边栏文本显示省略 */
        .dropdown-menu-left .list-group-item {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .homepage .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .homepage .ffcontent {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 7;
        }

        #systemMessageContainer .nav-tabs .nav-item.show .nav-link,
        #systemMessageContainer .nav-tabs .nav-link.active {
            color: rgb(13, 198, 207);
            background-color: transparent;
            border-color: transparent transparent #f3f3f3;
            border-bottom: 3px solid !important;
            font-size: 16px;
            font-weight: bold;
        }

        #systemMessageContainer .nav-link {
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            color: rgb(6, 89, 92);
            font-size: 16px;
            font-weight: 400;
        }

        #systemMessageContainer .nav-link:hover {
            border: none;
        }

        /* #systemMessageContainer a {
            text-decoration: none;
            color: #333;
            font-weight: 400;
        } */
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jumpTopBtn').click(function () {
                $('html, body').animate({
                    scrollTop: $("#load-content").offset().top - 100
                }, 500);
            });
        });
    </script>
</head>

{% extends "index.html" %}
{% block system_message %}
<div id="systemMessageContainer" class="custom-nav" style="margin-top:10px; margin-bottom: 30px">
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="likemessage-tab" data-toggle="tab" href="#likemessage"
                role="tab" aria-controls="likemessage" aria-selected="true">收到的赞
                {% if unread_likes_count > 0 %}
                （{{ unread_likes_count }}）
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="fragmessage-tab" data-toggle="tab" href="#fragmessage" role="tab"
                aria-controls="fragmessage" aria-selected="false">得到的接续
                {% if unread_fragnoti_count > 0 %}
                （{{ unread_fragnoti_count }}）
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="commentmessage-tab" data-toggle="tab" href="#commentmessage"
                role="tab" aria-controls="commentmessage" aria-selected="false">收到的评论
                {% if unread_commentnoti_count > 0 %}
                （{{ unread_commentnoti_count }}）
                {% endif %}
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- 点赞通知展示 -->
        <div class="tab-pane fade" id="likemessage" role="tabpanel"
            aria-labelledby="likemessage-tab">
            <div class="list-group">
                {% if like_page_obj %}
                    {% for notification in like_page_obj %}
                    <a style="margin-top: 10px" href="{% url 'messagejump' notification.id %}" target="_Blank"
                        class="list-group-item list-group-item-action flex-column align-items-start annoucement">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <h5 class="mb-1"> 
                            {% if notification.optype == 'storylike' %}
                            <i style="color:rgb(238, 155, 182)" class="fab fa-gratipay" aria-hidden="true"></i>
                            {% elif notification.optype == 'fraglike' %}
                            <i style="color:rgb(211, 123, 152)" class="fab fa-gratipay" aria-hidden="true"></i>
                            {% elif notification.optype == 'commentlike' %}
                            <i style="color:rgb(167, 81, 109)" class="fab fa-gratipay" aria-hidden="true"></i>
                            {% endif %}
                            {{ notification.fromnickname }}
                            {% if not notification.read %}
                            <em>(new!)</em>
                            {% endif %}
                            </h5>
                            <small style="margin-left: 10px">{{ notification.createtime }}</small>
                        </div>
                        {% if notification.optype == 'storylike' %}            
                        <p class="mb-1 ml-4" style="font-size: 14px">在你的故事『{{ notification.content }}』中点了赞</p>
                        {% elif notification.optype == 'fraglike' %}
                        <p class="mb-1 ml-4" style="font-size: 14px; white-space: pre-wrap">对你的片段：<br/>"{{ notification.content }}"<br/>点了赞</p>
                        {% elif notification.optype == 'commentlike' %}
                        <p class="mb-1 ml-4" style="font-size: 14px; white-space: pre-wrap">对你的评论：<br/>"{{ notification.content }}"<br/>点了赞</p>
                        {% endif %}
                    </a>
                    {% endfor %}
                
                {% else %}
                <a style="margin-top: 10px"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-md-center">
                        <h6 class="mb-1 lead text-muted">还没有收到赞诶，继续努力(。・∀・)ノ</h6>
                    </div>
                </a>
                {% endif %}
            </div>
            {% if like_is_paginated %}
            <nav aria-label="Page navigation example" style="margin-top:40px">
                <ul class="pagination justify-content-center">
                    {% if like_page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?likepage={{ like_page_obj.previous_page_number }}" tabindex="-1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                            <a class="page-link" tabindex="-1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                
                    {% for i in like_paginator.page_range %}
                        {% if i == like_page_bound.left or i == like_page_bound.right %}
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                        {% elif like_page_obj.number == i %}
                        <li class="page-item active"><a class="page-link">{{i}}</a></li>
                        {% elif i > like_page_bound.left and i < like_page_bound.right %}
                        <li class="page-item"><a class="page-link" href="?likepage={{ i }}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                
                    {% if like_page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?likepage={{ like_page_obj.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                            <a class="page-link" tabindex="-1"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>

        <div class="tab-pane fade" id="fragmessage" role="tabpanel" aria-labelledby="fragmessage-tab">
            <div class="list-group">
                {% if frag_page_obj %}
                {% for notification in frag_page_obj %}
                <a style="margin-top: 10px" href="{% url 'messagejump' notification.id %}" target="_Blank"
                    class="list-group-item list-group-item-action flex-column align-items-start annoucement">
                    
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <h5 class="mb-1">
                        {% if notification.optype == 'addfrag' %}
                        <i style="color:olivedrab" class="fas fa-feather-alt"
                            aria-hidden="true"></i>
                        {% elif notification.optype == 'deletefrag' %}
                        <i style="color:rgb(75, 80, 66)" class="fas fa-cut" aria-hidden="true"></i>
                        {% endif %}
                        {{ notification.fromnickname }}
                        {% if not notification.read %}
                        <em>(new!)</em>
                        {% endif %}
                        </h5>
                        <small style="margin-left: 10px">{{ notification.createtime }}</small>
                    </div>
                    <p class="mb-1 ml-4" style="font-size: 14px; white-space: pre-wrap">{{ notification.content }}</p>            
                </a>
                {% endfor %}
                {% else %}
                <a style="margin-top: 10px"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-md-center">
                        <h6 class="mb-1 lead text-muted">还没有得到接续，再等等吧 ('L_' )</h6>
                    </div>
                </a>
                {% endif %}
                
            </div>
            {% if frag_is_paginated %}
            <nav aria-label="Page navigation example" style="margin-top:40px">
                <ul class="pagination justify-content-center">
                    {% if frag_page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?fragpage={{ frag_page_obj.previous_page_number }}" tabindex="-1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                            <a class="page-link" tabindex="-1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                
                    {% for i in frag_paginator.page_range %}
                        {% if i == frag_page_bound.left or i == frag_page_bound.right %}
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                        {% elif frag_page_obj.number == i %}
                        <li class="page-item active"><a class="page-link">{{i}}</a></li>
                        {% elif i > frag_page_bound.left and i < frag_page_bound.right %}
                        <li class="page-item"><a class="page-link" href="?fragpage={{ i }}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                
                    {% if frag_page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?fragpage={{ frag_page_obj.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                            <a class="page-link" tabindex="-1"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>

        <div class="tab-pane fade" id="commentmessage" role="tabpanel"
            aria-labelledby="commentmessage-tab">
            <div class="list-group">
                {% if comment_page_obj %}
                {% for notification in comment_page_obj %}
                <a style="margin-top: 10px" href="{% url 'messagejump' notification.id %}" target="_Blank"
                    class="list-group-item list-group-item-action flex-column align-items-start annoucement"
                    id="comment_{{ comment.id }}">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <h5 class="mb-1"> <i style="color:dimgray" class="far fa-surprise" aria-hidden="true"></i>
                            {{ notification.fromnickname }}
                            {% if not notification.read %}
                            <em>(new!)</em>
                            {% endif %}
                            </h5>
                        <small style="margin-left: 10px" id="commentIdx">{{ notification.createtime }}</small>
                    </div>
                    <p class="mb-1 ml-4" style="font-size: 14px; white-space: pre-wrap">{{ notification.content }}</p>
                </a>
                {% endfor %}
                {% else %}
                <a style="margin-top: 10px"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-md-center">
                        <h6 class="mb-1 lead text-muted">然而并没有评论(。_°)☆＼(- – )</h6>
                    </div>
                </a>
                {% endif %}
            </div>
            {% if comment_is_paginated %}
            <nav aria-label="Page navigation example" style="margin-top:40px">
                <ul class="pagination justify-content-center">
                    {% if comment_page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?commentpage={{ comment_page_obj.previous_page_number }}" tabindex="-1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                            <a class="page-link" tabindex="-1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                
                    {% for i in comment_paginator.page_range %}
                        {% if i == comment_page_bound.left or i == comment_page_bound.right %}
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                        {% elif comment_page_obj.number == i %}
                        <li class="page-item active"><a class="page-link">{{i}}</a></li>
                        {% elif i > comment_page_bound.left and i < comment_page_bound.right %}
                        <li class="page-item"><a class="page-link" href="?commentpage={{ i }}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                
                    {% if frag_page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?coommentpage={{ comment_page_obj.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                            <a class="page-link" tabindex="-1"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
