<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Puzztory</title>
    <link rel="shortcut icon" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />
    <link rel="bookmark" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />

    <!-- CSS -->
    <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" /> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="http://www.bootcss.com/p/buttons/css/buttons.css">

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style type="text/css">
        .construct-notice {
            font-size: 50px;
            text-align: center;
        }

        .side-bar-title {
            margin-top: 10px;
            font-size: 20px;
        }

        .story-list>.list-group-item {
            margin-bottom: 10px;
        }

        /* 边栏文本显示省略 */
        .dropdown-menu-left .list-group-item {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .homepage .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .homepage .ffcontent {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 7;
        }

        #systemMessageContainer .nav-tabs .nav-item.show .nav-link,
        #systemMessageContainer .nav-tabs .nav-link.active {
            color: rgb(13, 198, 207);
            background-color: transparent;
            border-color: transparent transparent #f3f3f3;
            border-bottom: 3px solid !important;
            font-size: 16px;
            font-weight: bold;
        }

        #systemMessageContainer .nav-link {
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            color: rgb(6, 89, 92);
            font-size: 16px;
            font-weight: 600;
        }

        #systemMessageContainer .nav-link:hover {
            border: none;
        }

        /* #systemMessageContainer a {
            text-decoration: none;
            color: #333;
            font-weight: 400;
        } */
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jumpTopBtn').click(function () {
                $('html, body').animate({
                    scrollTop: $("#load-content").offset().top - 100
                }, 500);
            });
        });
    </script>
</head>

<body style="background-color: rgb(248, 248, 248)">
    <nav class="navbar navbar-toggleable-md navbar-expand-sm bg-white navbar-light fixed-top">
        <div class="navbar-collapse collapse justify-content-between">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img title="PuzzTory首页" alt="Logo" src="http://www.puzztory.cn/static/images/PuzzWithTitle.png"
                    style="height: 50px">
            </a>
            <ul class="navbar-nav">
                <button id="jumpTopBtn" class="btn btn-outline-warning" style="height:40px; margin-right: 20px"
                    title="回到顶部"><i class="fa fa-rocket" aria-hidden="true"></i></button>
                <form class="form-inline" action="search#TODO">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="welcome, Alexxx" style="width: 7cm">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" {% if user.is_authenticated %}
                        href="{% url 'upload_story_page' %}" {% else %} data-toggle="modal" data-target="#loginRequest"
                        {% endif %}><i title="发布故事" class="fas fa-plus"></i></a></li>
                <li class="nav-item"><a class="nav-link" {% if user.is_authenticated %}href="{% url 'system_message' %}"
                        {% else %} data-toggle="modal" data-target="#loginRequest" {% endif %}><i title="系统通知"
                            class="fas fa-bell"></i></a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'login_page' %}"><i title="登录/注册"
                            class="fas fa-user"></i></a>
                </li>

                <li class="nav-item"><a class="nav-link" href="{% url 'user_page' user.email %}"><i title="个人主页"
                            class="fas fa-user"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal"><i
                            title="退出登录" class="fas fa-sign-in-alt"></i></a>
                </li>

            </ul>
        </div>
    </nav>

    <!-- LOGOUT WINDOW -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">通知 ('/_ ') </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    确定要退出吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">退出</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- LOGIN REQUEST -->

    <div class="modal fade" id="loginRequest" tabindex="-1" role="dialog" aria-labelledby="loginRequestLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginRequestLabel">通知 ('/_ ') </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    请先登录
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">返回</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" style="margin-top: 70px">
        <div class="row">
            <div class="col-sm-2" style="background-color: rgb(235, 235, 235)">
                <div class="dropdown-menu-left" style="margin-bottom: 30px; margin-top: 30px;">
                    <h1 class="dropdown-header side-bar-title" style="padding: 0px;"><i class="fa fa-fire"
                            aria-hidden="true"></i> 点赞飙升</h1>
                    <a class="dropdown-item list-group disabled" href="#">


                        <p>No storys are available.</p>

                    </a>
                    <div class="dropdown-divider"></div>
                    <h1 class="dropdown-header side-bar-title" style="padding: 0px; margin-top: 10px;"><i
                            class="fa fa-trophy" aria-hidden="true"></i> 用户排行</h1>
                    <a class="dropdown-item list-group disabled" href="#">

                        <p>No users are available.</p>

                    </a>
                </div>
            </div>
            <div class="col-sm-10" id="load-content" style="background-color: rgb(248, 248, 248)">
                <!-- {% extends "index.html" %}
                {% block upload_story_page %} -->
                <div id="systemMessageContainer" style="margin-top:10px">
                    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="likemessage-tab" data-toggle="tab" href="#likemessage"
                                role="tab" aria-controls="likemessage" aria-selected="true">收到的赞</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="fragmessage-tab" data-toggle="tab" href="#fragmessage" role="tab"
                                aria-controls="fragmessage" aria-selected="false">得到的接续</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="commentmessage-tab" data-toggle="tab" href="#commentmessage"
                                role="tab" aria-controls="commentmessage" aria-selected="false">收到的评论</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="likemessage" role="tabpanel"
                            aria-labelledby="likemessage-tab">
                            <div class="list-group">

                                <a style="margin-top: 10px"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <h5 class="mb-1"> <i class="fa fa-user-circle" aria-hidden="true"></i>
                                            Alexxx</h5>
                                        <small style="margin-left: 10px" id="commentIdx">2019/07/07</small>
                                    </div>
                                    <p class="mb-1 ml-4" style="font-size: 14px">在你的···中点了赞</p>

                                </a>

                                <a style="margin-top: 10px"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100">
                                        <h5 class="mb-1">继续努力吧('/_ ')</h5>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="fragmessage" role="tabpanel" aria-labelledby="fragmessage-tab">
                            <div class="list-group">
                                <a style="margin-top: 10px"
                                    class="list-group-item list-group-item-action flex-column align-items-start"
                                    id="comment_{{ comment.id }}">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <h5 class="mb-1"> <i class="fa fa-user-circle" aria-hidden="true"></i>
                                            Alexxx</h5>
                                        <small style="margin-left: 10px" id="commentIdx">2019/02/01</small>
                                    </div>
                                    <p class="mb-1 ml-4" style="font-size: 14px">故事标题</p>
                                    <p class="mb-1 ml-4" style="font-size: 14px">
                                        接续内容
                                    </p>

                                </a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="commentmessage" role="tabpanel"
                            aria-labelledby="commentmessage-tab">
                            <div class="list-group">
                                <a style="margin-top: 10px"
                                    class="list-group-item list-group-item-action flex-column align-items-start"
                                    id="comment_{{ comment.id }}">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <h5 class="mb-1"> <i class="fa fa-user-circle" aria-hidden="true"></i>
                                            Alexxx</h5>
                                        <small style="margin-left: 10px" id="commentIdx">2019/02/01</small>
                                    </div>
                                    <p class="mb-1 ml-4" style="font-size: 14px">在你的···中评论：</p>
                                    <p class="mb-1 ml-4" style="font-size: 14px">
                                        评论内容
                                    </p>

                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- {% endblock %} -->
            </div>
        </div>
    </div>
</body>