<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人空间 - Puzztory</title>
    <link rel="shortcut icon" href="{% static 'images/favicon-mainpage.ico' %}"/>
    <link rel="bookmark" href="{% static 'images/favicon-mainpage.ico' %}"/>

    <!-- CSS -->
    <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" /> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>

{% extends "index.html" %}
{% block user_space %}
<style>
    .avator {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            position: absolute;
            top: 90%;
            left: 70%;
            margin-left: -50px;
            margin-top: -50px;
        }
</style>
<script>
    var authenticated = false;
    var newPassword = false;
    var repeatPassword = false;
    // 绝望的实现方式
    $(document).ready(function(){
        $('.user-frag').on('mouseover', function(){
            var $obj = $(this).find('.frag-title');
            if(!$(this).hasClass('title-displayed')){
                console.log("ajax request sent" + String($obj.attr('id')));
                $.ajax({
                    url: "{% url 'get_frag_title' %}",
                    data: {
                        'frag_id': $obj.attr('id'),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function(data){
                        $obj.html("在故事《" + data['title'] + "》下接续");
                    }
                });
                $(this).addClass('title-displayed');
            }
        });
        // 验证用户输入的旧密码正确性
        $('#password').on('blur', function(){
            var $obj = $(this);
            $.ajax({
                url: "{% url 'check_password' %}",
                data: {
                    'password': $obj.val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: "POST",
                    dataType: "JSON",
                    success: function(data){
                        if(data['authenticated']){
                            $('#password-helpId').html('密码验证成功');
                            $('#password-helpId').attr('style', 'color: #28a745');
                            authenticated = true;
                        }
                        else{
                            $('#password-helpId').html('密码验证错误');
                            $('#password-helpId').attr('style', 'color: #bd2130');
                            authenticated = false;
                        }
                        $('#submit-newpwd-btn').attr('disabled', !(authenticated && newPassword && repeatPassword));
                }
            });
        });
        $('#new-password').on('input propertychange', function(){
            if($('#password').val() == $(this).val()){
                $('#new-password-helpId').html('不能与旧密码相同');
                $('#new-password-helpId').attr('style', 'color: #bd2130');
                newPassword = false;
            }
            else{
                $('#new-password-helpId').html('');
                newPassword = true;
            }

            if($('#repeat-password').val() != $(this).val()){
                $('#repeat-password-helpId').html('请与新密码保持一致');
                $('#repeat-password-helpId').attr('style', 'color: #bd2130');
                repeatPassword = false;
            }
            else{
                $('#repeat-password-helpId').html('');
                repeatPassword = true;
            }
            $('#submit-newpwd-btn').attr('disabled', !(authenticated && newPassword && repeatPassword));
        });
        $('#repeat-password').on('input propertychange', function(){
            if($('#new-password').val() != $(this).val()){
                $('#repeat-password-helpId').html('请与新密码保持一致');
                $('#repeat-password-helpId').attr('style', 'color: #bd2130');
                repeatPassword = false;
            }
            else{
                $('#repeat-password-helpId').html('');
                repeatPassword = true;
            }
            $('#submit-newpwd-btn').attr('disabled', !(authenticated && newPassword && repeatPassword));
        });
        $('#submit-newpwd-btn').on('click', function(){
            $.ajax({
                    url: "{% url 'reset_password' %}",
                    data: {
                        'old_pwd': $('#password').val(),
                        'new_pwd': $('#repeat-password').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function(data){
                        if(data['authenticated']){
                            alert('密码修改成功:D');
                            window.location.replace('{% url 'user_page' user.id %}');
                        }
                        else{
                            alert('密码修改失败:(');
                            $('#password-helpId').html('密码验证错误');
                            $('#password-helpId').attr('style', 'color: #bd2130');
                            $('#submit-newpwd-btn').addClass('disabled');
                        }
                    }
                });
        });
        $('#submit-description').keydown(function(event){
            $obj = $(this);
            if(event.keyCode==13){
                $.ajax({
                    url: "{% url 'change_description' %}",
                    data: {
                        'description': $obj.val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    type: "POST",
                        dataType: "JSON",
                        success: function(data){
                            if(data['succeed']){
                                console.log("change description succeed!");
                                $obj.blur();
                            }
                    }
                });
　　        }
        });
    });
</script>
<div class="row justify-content-center">
    <div class="col-sm-11">
        <div class="card" style="margin-top:30px;">
            <div class="card-body row">
                <div class="col-1">
                    <div id="{{ owner.id }}_avator" >
                        <!-- <img class="avator" alt="user's avator" src="../static/images/イカ.png"> -->
                        <img class="avator" alt="user's avator" src="/static/images/イカ.png">
                    </div>
                </div>
                <div class="col-11">
                    <h4 class="card-title">
                        {{ owner.nickname }}
                        <span class="badge badge-warning">
                            <i class="fas fa-crown" aria-hidden="true">{{ owner.level }}
                            </i>
                        </span>
                    </h4>
                    <h6 class="card-subtitle text-muted">
                        {% if user.is_authenticated and owner.id == user.id %}
                        {% if user.userextension.description %}
                        <input id="submit-description" type="text" size="100" style="border:0px" maxlength="30" value="{{ owner.description }}" placeholder="自定义个性签名">
                        {% else %}
                        <input id="submit-description" type="text" size="100" style="border:0px" maxlength="30" placeholder="自定义个性签名">
                        {% endif %}
                        {% else %}
                        <p>{{ owner.description }}</p>
                        {% endif %}
                    </h6>
                </div>
            </div>
          <div class="card-body" style="padding-top:0px">
            <p class="card-text">
                <div class="progress" style="margin-bottom: 10px">
                    <div class="progress-bar" role="progressbar"
                        style="background-color:cadetblue; width: {% widthratio owner.experience experience_upper 100 %}%">
                        {{ owner.experience }}/{{ experience_upper }}</div>
                </div>
            </p>
            {% if user.is_authenticated and owner.email == user.email %}
            <div class="row">
                <a href="#" class="card-link btn btn-light" style="margin-left:10px" data-toggle="modal" data-target="#resetNickname">更改昵称</a>
                <a href="#" class="card-link btn btn-light" data-toggle="modal" data-target="#resetPastword">修改密码</a>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="card custom-nav" style="margin-top:20px">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    {% if user.is_authenticated and owner.email == user.email %}
                    <li class="nav-item">
                        <a class="nav-link active" id="story-tab" data-toggle="tab" href="#story" role="tab" aria-controls="story" aria-selected="true">我的故事</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="frag-tab" data-toggle="tab" href="#frag" role="tab" aria-controls="frag" aria-selected="false">我的接续</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="like-tab" data-toggle="tab" href="#like" role="tab" aria-controls="like" aria-selected="false">我的点赞</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" id="story-tab" data-toggle="tab" href="#story" role="tab" aria-controls="story"
                            aria-selected="true">TA的故事</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="frag-tab" data-toggle="tab" href="#frag" role="tab" aria-controls="frag"
                            aria-selected="false">TA的接续</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="like-tab" data-toggle="tab" href="#like" role="tab" aria-controls="like"
                            aria-selected="false">TA的点赞</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="story" role="tabpanel" aria-labelledby="story-tab"> 
                        <div class="list-group story-list homepage" style="margin-bottom:30px">
                            {% if user_story_list %}
                            {% for story in user_story_list %}
                            <a href="{% url 'story_page' story.id %}" target="_Blank"
                                class=" list-group-item list-group-item-action flex-column align-items-start"
                                style="padding: 30px">
                                <!-- d-flex : made <small> stay at the end of row -->
                                <div class="d-flex align-items-center mb-2">
                                    <!-- if the story was already finished -->
                                    {% if story.finished == True %}
                                    <div class="badge badge-warning mr-1"><i class="fa fa-hourglass-end" aria-hidden="true"></i>
                                    </div>
                                    <!-- if the story cannot be modified -->
                                    {% elif story.lock == True %}
                                    <div class="badge badge-warning mr-1"><i class="fa fa-pen-alt" aria-hidden="true"></i></div>
                                    <!-- if the story is being edited -->
                                    {% elif story.modified == False %}
                                    <div class="badge badge-warning mr-1"><i class="fa fa-lock" aria-hidden="true"></i></div>
                                    {% elif story.modified == True %}
                                    <div class="badge badge-success mr-1"><i class="fa fa-pen-alt" aria-hidden="true"></i></div>
                                    {% endif %}
                                    <h5 class="mb-1 pr-2 title">{{ story.title }}</h5>
                                    {% if story.rules %}
                                    <div class="badge badge-light mr-1">R</div>
                                    {% endif %}
                                    {% if story.keywords %}
                                    <div class="badge badge-light mr-1">K</div>
                                    {% endif %}
                                    {% if story.fragscountlimit != -1 or story.fragwordslimit != -1 %}
                                    <div class="badge badge-light">F</div>
                                    {% endif %}
                                    <small class="text-muted ml-auto" id="createTime">最后更新 {{ story.updatetime }}</small>
                                </div>
                                <div class="row d-flex">
                                    <div class="col-10">
                                        <p class="mb-1 ffcontent" style="white-space: pre-wrap; padding-top: 15px">{{ story.ffcontent }}</p>
                                    </div>
                                    <div class="col-2">
                                        <div class="row justify-content-end mb-2 pr-2">
                                            <button type="button" class="btn btn-light btn-sm" disabled>
                                                <i class="fa fa-comment" aria-hidden="true"></i>
                                                <span id="commentNum">{{ story.commentscount }}</span>
                                            </button>
                                        </div>
                                        <div class="row justify-content-end mb-2 pr-2">
                                            <button type="button" class="btn btn-light btn-sm" disabled>
                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                <span id="likesNum">{{ story.likescount }}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-end pr-2">
                                    <div class="col-10">
                                        <small class="text-muted">发布于 </small>
                                        <span><small class="text-muted" id="author">{{ story.createtime }}</small></span>
                                    </div>
                                    <div class="col-2">
                                        <div class="row justify-content-end">
                                            <button type="button" class="btn btn-info" disabled>
                                                <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                                                <span id="storyFragCount">{{ story.fragscount }}</span>
                                                {% if story.fragscountlimit == -1 %}
                                                <span id="storyFragTotalInf">/ <i class="fa fa-infinity"></i></span>
                                                {% else %}
                                                <span id="storyFragTotal">/ {{ story.fragscountlimit }}</span>
                                                {% endif %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                            {% else %}
                            <p>还没有发布任何故事┌( ´_ゝ` )┐</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="frag" role="tabpanel" aria-labelledby="frag-tab">
                        <div class="list-group story-list homepage" style="margin-bottom:30px">
                            {% if user_frag_list %}
                            {% for frag in user_frag_list %}
                            <a href="{% url 'story_page' frag.storyid %}?scroll_to_type_id=frag_{{ frag.id }}" target="_Blank"
                                class="card list-group-item list-group-item-action flex-column align-items-start user-frag">
                                    <div class="card-body" style="padding:10px">
                                        <h6 class="card-title"><i class="fas fa-puzzle-piece"></i> <span class="frag-title" id="{{ frag.id }}"></span></h6>
                                        <strong class="card-text" style="white-space: pre-wrap">{{ frag.content }}</strong>
                                        <div class="row" style="margin-bottom: 7px; margin-top: 20px">
                                            <div class="col-md-auto align-self-center">
                                                <i class="far fa-clock" style="font-size: 12px">片段发布时间 {{ frag.createtime }}</i>
                                            </div>
                                            <div class="col-md-auto ml-auto align-self-center">
                                                <button type="button" class="btn btn-light btn-sm" disabled>
                                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                                    <span>{{ frag.commentscount }}</span>
                                                </button>
                                                <button type="button" class="btn btn-light btn-sm" style="margin-left:10px" disabled>
                                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                    <span>{{ frag.likescount }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                            </a>
                            {% endfor %}
                            {% else %}
                            <p>还没有发布任何片段┌( ´_ゝ` )┐</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="like" role="tabpanel" aria-labelledby="like-tab">
                            {% if user_like_list %}
                            {% for like in user_like_list %}
                            <a style="margin-top: 10px" href="{% url 'messagejump' like.id %}" target="_Blank"
                                class="list-group-item list-group-item-action flex-column align-items-start annoucement">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <h5 class="mb-1"> 
                                    {% if like.optype == 'storylike' %}
                                    <i style="color:rgb(238, 155, 182)" class="fab fa-gratipay" aria-hidden="true"></i>
                                    {% elif like.optype == 'fraglike' %}
                                    <i style="color:rgb(211, 123, 152)" class="fab fa-gratipay" aria-hidden="true"></i>
                                    {% elif like.optype == 'commentlike' %}
                                    <i style="color:rgb(167, 81, 109)" class="fab fa-gratipay" aria-hidden="true"></i>
                                    {% endif %}
                                    {{ like.fromnickname }}
                                    </h5>
                                    <small style="margin-left: 10px">{{ like.createtime }}</small>
                                </div>
                                {% if like.optype == 'storylike' %}            
                                <p class="mb-1 ml-4" style="font-size: 14px">在故事『{{ like.content }}』中点了赞</p>
                                {% elif like.optype == 'fraglike' %}
                                <p class="mb-1 ml-4" style="font-size: 14px; white-space: pre-wrap">对片段：<br/>"{{ like.content }}"<br/>点了赞</p>
                                {% elif like.optype == 'commentlike' %}
                                <p class="mb-1 ml-4" style="font-size: 14px; white-space: pre-wrap">对评论：<br/>"{{ like.content }}"<br/>点了赞</p>
                                {% endif %}
                            </a>
                            {% endfor %}
                            {% else %}
                            <p>还没有赞过任何人噢┌( ´_ゝ` )┐</p>
                            {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade" id="resetNickname" tabindex="-1" role="dialog" aria-labelledby="resetNicknameLabel"
        aria-hidden="true">
        <form action="{% url 'reset_nickname' %}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetNicknameLabel">更改你的昵称 ('/_ ') </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <span class="input-group-text" id=""> <i class="fa fa-user" aria-hidden="true"></i> </span>
                                  </div>
                            <input type="text"
                              class="form-control" name="nickname" id="nickname" aria-describedby="helpId" placeholder="在此处输入你的新昵称..."
                              maxlength="20" required pattern="([\S]+[\s]*)*">
                        </div>
                        <small id="nickname-helpId" class="form-text text-muted">昵称不长于20字符且开头不为空格</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
        </form>
    </div>

    <div class="modal fade" id="resetPastword" tabindex="-1" role="dialog" aria-labelledby="resetPastwordLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPastwordLabel">更改你的密码 ('/_ ') </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group align-items-center" style="margin-top: 10px">
                        <span>输入旧密码：</span>
                        <input
                          class="form-control" name="p" id="password" aria-describedby="password-helpId" 
                          type="password" placeholder="在此输入你的旧密码..." required>
                    </div>
                    <small id="password-helpId" class="form-text text-right"></small>
                    <div class="input-group align-items-center" style="margin-top: 20px">
                        <span>输入新密码：</span>
                        <input
                          class="form-control" name="p" id="new-password" aria-describedby="new-password-helpId" 
                          type="password" placeholder="在此输入你的新密码..." required maxlength="20"
                          onfocus="$('#new-password-helpId').html('')">
                    </div>
                    <small id="new-password-helpId" class="form-text text-right">密码长度不得长于20字符</small>
                    <div class="input-group align-items-center" style="margin-top: 20px">
                        <span>重复新密码：</span>
                        <input
                          class="form-control" name="p" id="repeat-password" aria-describedby="repeat-password-helpId" 
                          type="password" placeholder="再次确认你的新密码..." required maxlength="20"
                          onfocus="$('#repeat-password-helpId').html('')">
                    </div>
                    <small id="repeat-password-helpId" class="form-text text-right">密码长度不得长于20字符</small>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit-newpwd-btn" type="button" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}