<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人空间 - Puzztory</title>
    <link rel="shortcut icon" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />
    <link rel="bookmark" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />

    <!-- CSS -->
    <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" /> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>

{% extends "index.html" %}
{% block user_space %}
<style>
    .avator {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            position: absolute;
            top: 90%;
            left: 70%;
            margin-left: -50px;
            margin-top: -50px;
        }
</style>
<div class="row justify-content-center">
    <div class="col-sm-11">
        <div class="card">
            <div class="card-body row">
                <div class="col-1">
                    <div id="{{ owner.id }}_avator">
                        <!-- <img class="avator" alt="user's avator" src="../static/images/イカ.png"> -->
                        <img class="avator" alt="user's avator" src="/static/images/イカ.png">
                    </div>
                </div>
                <div class="col-11">
                    <h4 class="card-title">
                        {{ owner.nickname }}
                        <span class="badge badge-warning">
                            <i class="fas fa-crown" aria-hidden="true">{{ owner.level }}
                            </i>
                        </span>
                    </h4>
                    <h6 class="card-subtitle text-muted">个人描述（如果有的话）</h6>
                </div>
            
          </div>
          <div class="card-body">
            <p class="card-text">
                <div class="progress" style="margin-bottom: 10px">
                    <div class="progress-bar" role="progressbar"
                        style="background-color:cadetblue; width: {% widthratio owner.experience experience_upper 100 %}%">
                        {{ owner.experience }}/{{ experience_upper }}</div>
                </div>
            </p>
            <a href="#" class="card-link">更改昵称</a>
            <a href="#" class="card-link">修改密码</a>
          </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}