<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人空间 - Puzztory</title>
    <link rel="shortcut icon" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />
    <link rel="bookmark" href="http://www.puzztory.cn/static/images/favicon-mainpage.ico" />

    <!-- CSS -->
    <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" /> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>

{% extends "index.html" %}
{% block user_space %}
<style>
    .avator {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            position: absolute;
            top: 90%;
            left: 70%;
            margin-left: -50px;
            margin-top: -50px;
        }
</style>
<div class="row justify-content-center">
    <div class="col-sm-11">
        <div class="card" style="margin-top:30px">
            <div class="card-body row">
                <div class="col-1">
                    <div id="{{ owner.id }}_avator">
                        <!-- <img class="avator" alt="user's avator" src="../static/images/イカ.png"> -->
                        <img class="avator" alt="user's avator" src="/static/images/イカ.png">
                    </div>
                </div>
                <div class="col-11">
                    <h4 class="card-title">
                        {{ owner.nickname }}
                        <span class="badge badge-warning">
                            <i class="fas fa-crown" aria-hidden="true">{{ owner.level }}
                            </i>
                        </span>
                    </h4>
                    <h6 class="card-subtitle text-muted">个人描述（如果有的话）</h6>
                </div>
            
          </div>
          <div class="card-body" style="padding-top:0px">
            <p class="card-text">
                <div class="progress" style="margin-bottom: 10px">
                    <div class="progress-bar" role="progressbar"
                        style="background-color:cadetblue; width: {% widthratio owner.experience experience_upper 100 %}%">
                        {{ owner.experience }}/{{ experience_upper }}</div>
                </div>
            </p>
            <div class="row">
                <a href="#" class="card-link btn btn-light" style="margin-left:10px">更改昵称（还没做）</a>
                <a href="#" class="card-link btn btn-light">修改密码（还没做）</a>
            </div>
          </div>
        </div>
        <div class="card custom-nav" style="margin-top:20px">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="story-tab" data-toggle="tab" href="#story" role="tab" aria-controls="story" aria-selected="true">我的故事</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="frag-tab" data-toggle="tab" href="#frag" role="tab" aria-controls="frag" aria-selected="false">我的接续</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="like-tab" data-toggle="tab" href="#like" role="tab" aria-controls="like" aria-selected="false">我的赞</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="story" role="tabpanel" aria-labelledby="story-tab"> 
                        <div class="list-group story-list homepage" style="margin-bottom:30px">
                            {% if user_story_list %}
                            {% for story in user_story_list %}
                            <a href="{% url 'story_page' story.id %}" target="_Blank"
                                class=" list-group-item list-group-item-action flex-column align-items-start"
                                style="padding: 30px">
                                <!-- d-flex : made <small> stay at the end of row -->
                                <div class="d-flex align-items-center mb-2">
                                    <!-- if the story was already finished -->
                                    {% if story.finished == True %}
                                    <div class="badge badge-warning mr-1"><i class="fa fa-hourglass-end" aria-hidden="true"></i>
                                    </div>
                                    <!-- if the story cannot be modified -->
                                    {% elif story.lock == True %}
                                    <div class="badge badge-warning mr-1"><i class="fa fa-pen-alt" aria-hidden="true"></i></div>
                                    <!-- if the story is being edited -->
                                    {% elif story.modified == False %}
                                    <div class="badge badge-warning mr-1"><i class="fa fa-lock" aria-hidden="true"></i></div>
                                    {% elif story.modified == True %}
                                    <div class="badge badge-success mr-1"><i class="fa fa-pen-alt" aria-hidden="true"></i></div>
                                    {% endif %}
                                    <h5 class="mb-1 pr-2 title">{{ story.title }}</h5>
                                    <!-- TODO: add if statement after storytable has attribute 'rules' -->
                                    <!-- <div class="badge badge-light mr-1">R</div> -->
                                    <!-- TODO: add if statement after storytable has attribute 'keywords' -->
                                    <!-- <div class="badge badge-light mr-1">K</div> -->
                                    {% if story.fragscountlimit != -1 or story.fragwordslimit != -1 %}
                                    <div class="badge badge-light">F</div>
                                    {% endif %}
                                    <small class="text-muted ml-auto" id="createTime">最后更新 {{ story.updatetime }}</small>
                                </div>
                                <div class="row d-flex">
                                    <div class="col-10">
                                        <p class="mb-1 ffcontent" style="white-space: pre-wrap; padding-top: 15px">{{ story.ffcontent }}</p>
                                    </div>
                                    <div class="col-2">
                                        <div class="row justify-content-end mb-2 pr-2">
                                            <button type="button" class="btn btn-light btn-sm" disabled>
                                                <i class="fa fa-comment" aria-hidden="true"></i>
                                                <span id="commentNum">{{ story.commentscount }}</span>
                                            </button>
                                        </div>
                                        <div class="row justify-content-end mb-2 pr-2">
                                            <button type="button" class="btn btn-light btn-sm" disabled>
                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                <span id="likesNum">{{ story.likescount }}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-end pr-2">
                                    <div class="col-10">
                                        <small class="text-muted">发布于 </small>
                                        <span><small class="text-muted" id="author">{{ story.createtime }}</small></span>
                                    </div>
                                    <div class="col-2">
                                        <div class="row justify-content-end">
                                            <button type="button" class="btn btn-info" disabled>
                                                <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                                                <span id="storyFragCount">{{ story.fragscount }}</span>
                                                {% if story.fragscountlimit == -1 %}
                                                <span id="storyFragTotalInf">/ <i class="fa fa-infinity"></i></span>
                                                {% else %}
                                                <span id="storyFragTotal">/ {{ story.fragscountlimit }}</span>
                                                {% endif %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                            {% else %}
                            <p>你还没有发表任何故事(￣、￣)</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="frag" role="tabpanel" aria-labelledby="frag-tab">
                            <div class="list-group story-list homepage" style="margin-bottom:30px">
                                    {% if user_frag_list %}
                                    {% for frag in user_frag_list %}
                                    <a href="{% url 'story_page' frag.storyid %}?scroll_to_type_id=frag_{{ frag.id }}" target="_Blank"
                                        class="card list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="card-body" style="padding:10px">
                                                <h5 class="card-title"><i class="fas fa-puzzle-piece"></i> {{ frag.storyid }}</h5>
                                                <p class="card-text" style="white-space: pre-wrap">{{ frag.content }}</p>
                                                <div class="row" style="margin-bottom: 7px; margin-top: 20px">
                                                    <div class="col-md-auto align-self-center">
                                                        <i class="far fa-clock" style="font-size: 12px">发布于 {{ frag.createtime }}</i>
                                                    </div>
                                                    <div class="col-md-auto ml-auto align-self-center">
                                                        <i type="number" class="far fa-thumbs-up" style="font-size: 12px; margin-right:10px">{{ frag.likescount }}</i>
                                                        <i type="number" class="far fa-comment" style="font-size: 12px"> {{ frag.commentscount }}</i>
                                                    </div>
                                                </div>
                                            </div>
                                    </a>
                                    {% endfor %}
                                    {% else %}
                                    <p>你还没有发表任何片段(￣、￣)</p>
                                    {% endif %}
                                </div>
                    </div>
                    <div class="tab-pane fade" id="like" role="tabpanel" aria-labelledby="like-tab">...</div>
                      </div>

            </div>
        </div>
        
    </div>
</div>

{% endblock %}